body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
}

.parent {
    border: 1px solid black;
}

.handle {
    fill:#f00;
    cursor: all-scroll;
}


.ring {
    fill:none;
    stroke:#000;
    stroke-width:10;
}

