html {
  position: fixed;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}

input {
  position: fixed;
  left: 900px;
}

.ring {
  fill: none;
  stroke: #383838;
  stroke-width: 15;
}

.handle {
  cursor: all-scroll;
}

.handle.insert {
  fill: #b3291e;
}

.handle.left-border {
  fill: #f09057;
}

.handle.right-border {
  fill: #f09057;
}

.handle.virulenzgen {
  fill: #406963;
}
