html {
  position: fixed;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ring {
  fill: none;
  stroke: #383838;
  stroke-width: 15;
}

.handle {
  cursor: all-scroll;
}

.handle.spacer1 {
  fill: #b3291e;
}

.handle.spacer2 {
  fill: #55b300;
}

.handle.repeat {
  fill: #9797a0;
}

.handle.cas-gen {
  fill: #1a66b3;
}

.handle.left-border {
  fill: #f09057;
}

.handle.right-border {
  fill: #f09057;
}

.handle.virulenzgen {
  fill: #406963;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
